.common-dailog
  width 400px
  .dialog-title
    font-size 24px
    font-weight 600
    color #CE2344
    margin-bottom 40px
  .dialog-content
    font-size 14px
    padding 15px
    .dialog-btn
      display flex
      text-align center
      justify-content space-between
      .cancel
        width 110px
        height 40px
        line-height 40px
        border-radius 4px
        color #CE2344
        border 1px solid rgba(206,35,68,1)
        cursor pointer
      .submit
        width 110px
        height 40px
        line-height 40px
        color #ffffff
        background rgba(206,35,68,1)
        border-radius 4px
        cursor pointer