.common-dailog
  width 400px
  .dialog-title
    font-size 24px
    font-weight 600
    color #CE2344
    margin-bottom 40px
  .dailog-cur-user-info
    display flex
    color #333333
    font-size 16px
    font-weight 500
    align-items center
    .avatar
      margin-right 20px
    .sign
      color #333333
      font-size 14px
      font-weight 400
      width 275px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  .dialog-content
    font-size 14px
    padding 15px
    .dialog-btn
      display flex
      text-align center
      justify-content space-between
      .cancel
        width 130px
        height 40px
        line-height 40px
        border-radius 4px
        color #CE2344
        border 1px solid rgba(206,35,68,1)
        cursor pointer
      .submit
        width 130px
        height 40px
        line-height 40px
        color #ffffff
        background rgba(206,35,68,1)
        border-radius 4px
        cursor pointer